{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/dataTables.bootstrap5.js"></script>

        <script>
            $(document).ready(function () {
                $('#data').DataTable({
                    ajax: '/ruleevents/data',
                    columns: [
                      {data: 'id', },
                      {data: 'name_event', searchable: true},
                      {data: 'description', orderable: false, searchable: false},
                      {data: 'score', orderable: true, searchable: false},
                      {data: 'rule_description', orderable: false, searchable: false},
                      {data: 'status', orderable: true, searchable: true}
                    ],
                });
            } );
        </script>

{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
        {% endwith %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form action="/addRuleEventHtml" method="post">
                        <div>
                            <h2> Register New Event Rule </h2>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="name_event" placeholder="Event Name" required>
                        </div>



                        <div class="form-group">
                            <textarea class="form-control" name="description" cols="100"
                                      placeholder="Add a Description" required></textarea>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="score" placeholder="Score" required>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="rule_description" cols="100"
                                      placeholder="Add a Rule Description" required></textarea>
                        </div>

                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="status"> Is Active?
                            </label>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Add
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <br>
        <br>

    </div>
    <br><br><br>
    <div class="row">
        <div>
           <table id="data" class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Event Name</th>
                        <th>Description</th>
                        <th>Score</th>
                        <th>Rule Description</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

    </div>
</div>

{% endblock %}