{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">

        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form action="/add" method="post">
                        <div>
                            <h2> Register New Event Rule </h2>
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="text" name="title" placeholder="Title" required>
                        </div>



                        <div class="form-group">
                            <textarea class="form-control" name="description" cols="100"
                                      placeholder="Add a Description" required></textarea>
                        </div>

                        <div class="form-group">
                            <input class="form-control" type="text" name="score" placeholder="Score" required>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="rule_description" cols="100"
                                      placeholder="Add a Rule Description" required></textarea>
                        </div>

                        <div class="form-group">
                            <label>
                                <input type="checkbox"> Is Active?
                            </label>
                        </div>
                        <button class="btn btn-primary" type="submit">
                            Add
                        </button>
                    </form>
                </div>
            </div>
        </div>

        <div >
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>name_event</th>
                    <th>description</th>
                    <th>score</th>
                    <th>rule_description</th>
                    <th>status</th>
                </tr>
                </thead>
                <tbody>
                {% for rule_events in rule_events %}
                <tr>
                    <td>{{ rule_events.id }}</td>
                    <td><strong>{{ rule_events.name_event }}</strong></td>
                    <td>{{ rule_events.description }}</td>
                    <td>{{ rule_events.score }}</td>
                    <td>{{ rule_events.rule_description }}</td>
                    <td>{{ rule_events.status }}</td>
                    <td>
                        <a class="btn btn-info" href="/update/{{ rule_events.id }}"> Edit  </a>
                    </td>
                    <td>
                        <a class="btn btn-danger" href="/delete/{{ rule_events.id }}"> Delete </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>

{% endblock %}