{% extends "base.html" %}

{% block content %}
    {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }}
                </div>
            {% endif %}
    {% endwith %}
    <br>
    <p>
      <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        Create a New User API
      </a>
    </p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <form action="/admin/addUsersHtml" method="post">
                                <div><h2> Register New User </h2></div>
                                <div class="form-group"><input class="form-control" type="text" name="username" placeholder="Username" required></div>
                                <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name" required></div>
                                <div class="form-group"><input class="form-control" type="text" name="email" placeholder="Email" required></div>
                                <div class="form-group"><input class="form-control" type="password" class="form-control" id="inputPassword" name="password" placeholder="Password" required></div>
                                <button class="btn btn-primary" type="submit">Add a New User API</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
    <br>
    <div>
        <table id="data" class="table-hover table-striped table-responsive-lg">
            <caption>Table of Users</caption>
            <thead>
                <tr>
                     <th>ID</th>
                     <th>Username</th>
                     <th>Name</th>
                     <th>Email</th>
                     <th>Edit</th>
                     <th>Delete</th>
                     <th>Change Password</th>
                </tr>
            </thead>
            <tbody>
                {%for user in users%}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td> <a href="/admin/users/{{ user.id }}/update"><button class="btn btn-outline-success">Edit</button></a> </td>
                        <td> <a href="/admin/users/{{ user.id }}/delete"><button class="btn btn-outline-danger">Delete</button></a></td>
                        <td> <a href="/admin/users/{{ user.id }}/changepass"><button class="btn btn-outline-danger">Change Pass</button></a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#data').DataTable();
        } );
    </script>
{% endblock %}